<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   

   <title>Document</title>
</head>

<body>
   

   <h2 class="nextEvents">Proximos Eventos</h2>
   <div class="plegable">
      <label for="direccionSelector">Selecciona una Dirección</label>
      <select id="direccionSelector" [(ngModel)]="selected_direction" (change)="ondiretion()">
         <option *ngFor="let direccion of directions" [value]="direccion">{{direccion}}</option>
      </select>
   </div>
   <div class="tarjetas">
   <div *ngFor="let evento of proximosEventos()" >
   <div class="tarjeta1">
         <div class="card1header">
            <b>{{evento.titulo}}</b>
         </div>
         <div class="car1body"> 
            <p>{{evento.artista}}</p>
            <p>{{evento.direccion}}</p>
            <p>{{evento.fecha}}</p>
            <p>{{evento.precio}}</p>
         </div>
      </div>
   </div>
   </div>
   <h2 class="passedEvents">Eventos Pasados</h2>
   <div class="tarjetas2">
   <div *ngFor="let evento of Eventospasados()" >
      <div class="tarjeta2">
   
         <div class="card2header">
            <b>{{evento.titulo}}</b>
         </div>
   
         <div class="car2body">
            <b>{{evento.titulo}}</b>
            <p>{{evento.artista}}</p>
            <p>{{evento.direccion}}</p>
            <p>{{evento.fecha}}</p>
            <p>{{evento.precio}}</p>
         </div>
    </div>
   </div>
   </div>
   
   <footer>
      <p> (EventoMania Daw2) 2023/2024 by Basilio Alejandro Nvé Mañana</p>
   </footer>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>



